 /* Navbar  */
 @media screen and (max-width:1280px) {
    .header {
      padding: 34px 25px;
      height: 101px;
    }
  
    .logo h2 {
      font-size: 22px;
    }
  
    .navBtn {
      font-size: 16px;
      margin-left: 2rem;
    }
  
    .btn {
      width: 150px;
      height: 47px;
    }
  
    .mainNav .mainNavList .navBtn a:nth-child(3) {
      width: 100px;
      height: 47px;
    }
  
    .mainNav .mainNavList {
      font-size: 16px;
      gap: 5px;
    }
  
  
    .title {
      font-size: 48px;
    }
  
    .card-two .image-wrapperOne {
      margin-top: 155px;
    }
  
  }
  
  @media screen and (max-width:1190px) {
    /* Action */
    .grid {
      padding: 1rem 2rem;
      grid-template-columns: repeat(2, 1fr);
    }
    
  .low-wrapper .content{
    font-size: 16px;
  }
  
  .footer{
  
  }
  
  
    .mt-minus {
      margin-top: -2em;
    }
  }
  
  @media screen and (max-width: 1120px) {
    .fig-con .btn-wrapper button {
      font-size: 20px;
     
    }
  
    /* Talent low section */
    .card > div .paragraph {
      font-size: 30px;
    }
  
    .cardOne {
      background-color: #efefef;
      padding: 30px;
      border-radius: 25px;
      width: 100%;
    }
  
    .cardOne h3 {
      font-size: 25px;
    }
  
    .cardOne h3 span {
      font-size: 20px;
    }
  
    .cardOne p {
      margin-top: 20px;
      margin-bottom: 5rem;
    }
  
    .title {
      font-size: 30px;
    }
   
  }
  
  
  @media screen  and (max-width:1024px){
    .mainNav .mainNavList {
         font-size: 14px; 
      }
  
    
  }
  
  @media screen and (max-width: 991px) {
      .logo {
          width: 100%;
          justify-content: flex-start;
      }
  
      .mainItem, 
      .mainNav .mainNavList .navBtn a:nth-child(1), 
      .mainNav .mainNavList .navBtn a:nth-child(3) {
          display: none;
      }
  
  
      .btn-mobile-nav {
          display: block;
          font-size: 30px;
        }
  
      .btn-mobile-nav > [name="close-outline"] {
          display: none;
      }
  
      .heroText h1 {
          font-size: 50px;
      }
  
      .heroText p {
          font-size: 20px;
      }
      
      .heroFrels .toggleSwitch {
          width: 39px;
          height: 20px;
      }
      .heroFrels .toggleSwitch::after {
          width: 20px;
          height: 20px;
      }
  
      /* Figma section */
  
      .fig-con .btn-wrapper button {
        font-size: 16px;
        padding: 0.8rem;
        text-wrap: nowrap;
      }
  
      /* TALENT SECTION */
  
      .talentHead {
        font-size: 46px;
        margin-bottom: 175px;
        margin-top: 30px;
      }
  
      .talentHead p span {
        font-size: 33px;
      }
  
      .talentImageCard {
        margin-bottom: 180;
      }
      
      .talentImageCard .container {
          width: 300px;
          height: 400px;
      }
  
      .talentImageCard .container .inCard {
        font-size: 30px;
      }
  
      .book {
        width: 300px;
        height: 250px;
        position: absolute;
        top: 150px;
      }
  
      .keyBoard,
      .phone {
        width: 300px;
       height: 200px;
      top: 190px;
      }
  
      .micro {
        width: 204px;
        bottom: 10px;
      }
  
      .lFrame {
        width: 250px;
      }
  
      /* Talent wrapper section */
  
      .talent-top-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
      }
  
      .t--content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 38px;
        display: flex;
        padding: 3rem 4.5rem;
        text-align: center;
      }
  
      .t--content p {
        font-size: 60x;
      }
  
      .t--content > p span  {
        font-size: 60x;
      }
  
      .t--content  > button  {
        width: 50%;
      }
  
      .talent-wrapper {
        width: 80%;
        align-items: center;
        justify-content: center;
        margin-left: 6rem;
      }
  
      .talent-low-wrapper {
        justify-content: center;
        width: 100%;
        flex-direction: column;
  
      }
  
      .team{
        margin:5rem 0 5rem 0 ;
      }
  
      /* Card row */
  
      .cardRow {
        flex-wrap: wrap;
        gap: 20px;
        padding: 1em 3em;
        margin-bottom: 6rem;
      }
  
      .cardOne h3{
        font-size: 45px;
      }
  
      .cardOne h3 span {
        font-size: 40px;
      }
  
      .cardOne{
        margin-bottom: 3rem;
      }
  
      .card-two {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
      }
  
      .card-two .image-wrapperOne {
        align-items: center;
        justify-content: center;
        order: -1;
        margin-top: 50px;
        padding-top: 2px;
      }
  
      .card-two > .titleCon > .direction { 
        display: flex;
        margin-bottom: 40px;
        margin-top: 5rem;
      }
  
      
      .title {
        margin-top: -40px;
      }
      
      
      /* .cardOne p {
        margin-top: 20px;
        margin-bottom: 5rem;
      } */
      
      .direction p{ 
       font-size: 20px;
      }
      
      .grid {
        padding:0 2.5rem 120px 2.5rem;
        grid-template-columns:1fr;
      }
  }
  
  
  
  @media screen and (max-width:500px) {
      .logo h2, .mainNav .mainNavList .navBtn a:nth-child(2) {
          display: none;
      }
  
      .logo img {
          width: 100px;
      }
  
      .heroText h1 {
          font-size: 40px;
          padding: .3em;
      }
  
      :is(.heroFrelsOne, .heroFrelsTwo) {
          font-size: 15px;
      }
  
      .fig-con .btn-wrapper button {
        font-size: 13px;
        padding: 0.6rem;
      }
  
      .fig-con {
        font-size: 14px;
      }
  
      /* Talent Wrapper */
  
      .talent-wrapper {
        width: 100%;
        align-self: center;
        justify-self: center;
        margin: 0 auto;
      }
  
  }